#root {
  background-color: var(--lightBlue);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  --darkBlue: #4F542F;
  --black: #2E311B;
  --lightBlue: #BCBD8B;
}

@media screen and (max-width: 768px) {
  #root {
    width: 60rem;
  }
}

.hero {
  background-color: var(--darkBlue);
  margin: 0px;
  padding: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  height: 400px;
}


.hero h1 {
  color: var(--lightBlue);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.hero h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
